/* Variables para los colores */
:root {
    --primary-color: #1e69cc; /* Verde saludable */
    --secondary-color: #333;
    --text-color: #ffffff;
    --background-color: #f0f0f0;
    --hover-color: #0e70f2; /* Verde oscuro para efectos hover */
}

/* Configuración base */
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
}

header {
    background-color: var(--primary-color);
    padding: 40px;
    text-align: center;
    color: white;
}

h1 {
    font-size: 3.0rem;
    font-weight: 550;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.8rem;
    font-weight: 400;
    color: #ffffff;
}

section {
    padding: 40px;
    text-align: center;
}

/* Estilos para la sección de beneficios */
.benefits-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.benefit {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.benefit img {
    max-width: 100%;
    border-radius: 10px;
}

.benefit:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.benefit h3 {
    font-size: 1.6rem;
    margin-top: 10px;
}

.benefit p {
    font-size: 1rem;
    color: #555;
}

/* Estilo de la galería */
.image-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.image-grid img {
    width: 30%;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Estilo del formulario de contacto */
form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    font-weight: 600;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
}

button {
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--hover-color);
}

/* Pie de página */
footer {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
}

footer i {
    color: white;
    margin-left: 10px;
}

/* Mensaje de éxito oculto */
.hidden {
    display: none;
}

/* Estilos responsivos para móviles */
@media (max-width: 768px) {
    .benefit, .image-grid img {
        width: 100%;
    }

    section {
        padding: 20px;
    }
}
